<!DOCTYPE html>
<html>
<head>
  <title>Laphroaig</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  
    <div id="navcontainer">
      <ul id="navlist">
        <li id="title">Etsy</li>
        <li id="topbox"><input type="search"></li>
        <button id="search">Search</button>
        <li><a href class="toplink">Sell on Etsy</a></li>
        <li><a href class="topreg">Register</a></li>
        <li><a href class="signin">Sign in</a></li>
        <img src="images/cart.png" id="img1" height="23" width="23">
        <li id="carttext">Cart</li>
      </ul>
    
      <ul id="nav2">
        <li id="categories">Clothing & Accessories</li>
        <li id="categories">Jewelry</li>
        <li id="categories">Craft Supplies and Tools</li>
        <li id="categories">Weddings</li>
        <li id="categories">Entertainment</li>
        <li id="categories">Home & Living</li>
        <li id="categories">Kids & Baby</li>
        <li id="categories">Vintage</li>
      </ul>
    </div>
   </head>   


       <br><br><br>
<body>
 <div class="container"> 
    

  <script type="text/template" id="itemTemplate">

    <div class="scotch">
      <img src="<%= Images[0].url_170x135 %>">
      <p class="title">
        <%= title %>
        </p>
        <p class="shopprice" id="shop">
        <%= Shop.shop_name %>
        
        <p class="shopprice" id="price"
        $<%= price %> <%= currency_code %>
        </p>
    </div>

    <hr>
    </script>
    </div>

    


      



  <script src ="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore.js">
    </script>
  <script src="js/etsy.js"></script>
  <script src="js/main.js"></script>
</body>
</html>